.Home{
    max-width: 1440px;
    margin: 0 auto;
    padding: 11rem 2.5rem 4rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.Home::-webkit-scrollbar {
    display: none;
  }

.home-components{

    display: grid;
    grid-template-columns: 23% 70%;
    gap: 4%;
}

